input {
  display: block;
  width: 50%;
  margin: 10px 0;
  padding: 8px;
}

button {
  width: 30%;
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;  
}

hr {
  width: 100px;
  height: 2px;
  background-color: black;
  border: none;
  transform: rotate(90deg); 
}