<app-header (buscar)="fazerBusca($event)"></app-header>
<div class="container mt-4">
  <h2>Cesta</h2>
  <hr>

  <div *ngIf="itens.length === 0">
    <p class="text-muted">Sua cesta está vazia.</p>
  </div>

  <div *ngIf="itens.length > 0">
    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Qtd</th>
          <th class="text-end">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td>{{ item.nome }}</td>
          <td>
          <div class="d-flex align-items-center gap-2">
            <button class="btn btn-sm btn-outline-secondary" (click)="diminuir(item)">−</button>
            {{ item.qtd }}x
            <button class="btn btn-sm btn-outline-secondary" (click)="aumentar(item)">+</button>
         </div>
        </td>          
        <td class="text-end">R$ {{ item.valor * item.qtd | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>

    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <strong>Total</strong>
      <strong>R$ {{ total | number:'1.2-2' }}</strong>
    </div>

    <div class="d-flex gap-2 mt-4">
      <button class="btn btn-outline-danger" (click)="limparCesta()">Limpar cesta</button>
      <button class="btn btn-success ms-auto" (click)="finalizar()">Finalizar</button>
    </div>
  </div>
</div>